body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  background: #180d57;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  margin-bottom: 10%;
  border-radius: 93px;
  background: linear-gradient(145deg, #160c4e, #1a0e5d);
  box-shadow: 41px 41px 82px #0f0835, -41px -41px 82px #211279;
}

.heading {
  text-transform: uppercase;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 100%;
}

.form-input {
  padding: 10%;
  color: white;
  border: none;
  outline: none;
  border-radius: 93px;
  background: #180d57;
  box-shadow: inset 41px 41px 82px #0f0835, inset -41px -41px 82px #211279;
}

.form-input::placeholder {
  color: white;
}

.button {
  border-radius: 93px;
  background: linear-gradient(145deg, #1a0e5d, #160c4e);
  box-shadow: 41px 41px 82px #0f0835, -41px -41px 82px #211279;
  color: white;
  padding: 2% 5%;
  border: none;
  outline: none;
}

.button:hover {
  border-radius: 93px;
  background: linear-gradient(145deg, #160c4e, #1a0e5d);
  box-shadow: 41px 41px 82px #0f0835, -41px -41px 82px #211279;
}

.label-input {
  display: none;
}
